# ------------------------
# Spring Boot / Java
# ------------------------

# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# Maven / Gradle directories
/target/
/build/

# IntelliJ IDEA
/.idea/
/*.iml
/out/

# Eclipse
/.project
/.classpath
/.settings/
/bin/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Logs and temporary files
*.log
*.tmp
*.temp
*.swp
*.DS_Store

# Environment / secret files
.env
*.keystore
*.jks
*.p12

# Node / frontend (se tiver)
node_modules/
dist/

# Ignore rsa public and private keys
src/main/resources/*.key
src/main/resources/*.pub
