version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: aedescontrol
    restart: always
    environment:
      POSTGRES_USER: SEU_USUARIO
      POSTGRES_PASSWORD: SUA_SENHA
      POSTGRES_DB: SEU_BANCO
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
